<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Task</title>
    <link rel="stylesheet" type="text/css" href="{%  static "pueblos/css/djangoStyle.css" %}" />
</head>
<body>
<h1>Test celery tasks</h1>
<div class="current-task">
    <h4>{% if task_id %} Task ID: {{ task_id }} {% endif %}</h4>
</div>

<div class="status"></div>

<div class="ajaxProgress">
    <h3>Por favor espere... Esta tarea puede tardar varios minutos</h3>
    <img src="{%  static "pueblos/img/ajax-loader.gif" %}">
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ajaxProgress').show();
        var test_task = function (task_id, done) {
            if (typeof done == "undefined"){
                if (typeof task_id !== "undefined"){
                    task_id = null;
                }
                $.ajax({
                     type: 'POST',
                     url: "/pueblos/test_task/",
                     data: "task_id="+task_id,
                     success: function (data, status) {
                         console.log(data);
                         console.log(status);
                         if(data.process_status){
                             $('.status').html(process_status);
                             if(data.process_status == 'Finished')
                                test_task('{{ task_id }}', 'done');
                         }else{
                             $('.status').html(data);
                         }
                     }
                 });
                test_task('{{ task_id }}');
            }else{
                $('.ajaxProgress').hide();
            }
        };
        test_task();
    });
</script>
</body>
</html>